In [1]:
#Recommend movies using movielens dataset

In [13]:
#import the libraries
import pandas as pd
import numpy as np

In [14]:
#print multiple statements in same line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [15]:
#Read users file:
u_cols = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']
users = pd.read_csv('c:/datasets/ml-1m/users.dat', sep='::', names=u_cols, encoding='latin-1')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
users.info()
users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
UserID        6040 non-null int64
Gender        6040 non-null object
Age           6040 non-null int64
Occupation    6040 non-null int64
Zip-code      6040 non-null object
dtypes: int64(3), object(2)
memory usage: 236.0+ KB

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [17]:
#Read ratings file:
r_cols = ['UserID', 'MovieID', 'Rating', 'Timestamp']
ratings = pd.read_csv('c:/datasets/ml-1m/ratings.dat', sep='::', names=r_cols, encoding='latin-1')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
ratings.info()
ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
UserID       1000209 non-null int64
MovieID      1000209 non-null int64
Rating       1000209 non-null int64
Timestamp    1000209 non-null int64
dtypes: int64(4)
memory usage: 30.5 MB

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [20]:
#Read movies file:
m_cols = ['MovieID', 'Title', 'Genres']
movies = pd.read_csv('c:/datasets/ml-1m/movies.dat', sep='::', names=m_cols, encoding='latin-1')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
movies.info()
movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
MovieID    3883 non-null int64
Title      3883 non-null object
Genres     3883 non-null object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [22]:
#build collaborative filtering using scikit surprise package

In [ ]:
#first try with SVD

In [1]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate

In [2]:
from surprise import Reader, Dataset

# Define the format
reader = Reader(line_format='user item rating timestamp', sep='::')

# Load the data from the file using the reader format
data = Dataset.load_from_file('c:/datasets/ml-1m/ratings.dat', reader=reader)

In [3]:
# Split data into 5 folds
data.split(n_folds=5)

In [4]:
from surprise import SVD, evaluate
algo = SVD()
#evaluate(algo, data, measures=['RMSE', 'MAE'])

In [5]:
# Retrieve the trainset and execute on full dataset
trainset = data.build_full_trainset()
algo.train(trainset)

C:\Anaconda3\lib\site-packages\surprise\prediction_algorithms\algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

In [7]:
# Predict a certain item
userid = str(196)
itemid = str(302)
actual_rating = 4

In [8]:
print(algo.predict(userid, itemid, actual_rating))

user: 196        item: 302        r_ui = 4.00   est = 3.82   {'was_impossible': False}

In [9]:
# Train and test reporting the RMSE and MAE scores
evaluate(algo, data, measures=['RMSE', 'MAE'])

C:\Anaconda3\lib\site-packages\surprise\evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
C:\Anaconda3\lib\site-packages\surprise\dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.8748
MAE:  0.6866
------------
Fold 2
RMSE: 0.8736
MAE:  0.6856
------------
Fold 3
RMSE: 0.8728
MAE:  0.6846
------------
Fold 4
RMSE: 0.8717
MAE:  0.6848
------------
Fold 5
RMSE: 0.8769
MAE:  0.6878
------------
------------
Mean RMSE: 0.8740
Mean MAE : 0.6859
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.8747979786846195,
                             0.8736250256001135,
                             0.8727784136608302,
                             0.8717074443741851,
                             0.8768937002696938],
                            'mae': [0.6866173572323967,
                             0.6856365647525756,
                             0.6846148295839524,
                             0.6848151580490655,
                             0.6878347374480406]})

In [23]:
#try with kNN

In [24]:
from surprise import KNNBaseline
sim_options = {'name': 'pearson_baseline', 'user_based': False}
algo = KNNBaseline(sim_options=sim_options)

In [25]:
# Retrieve the trainset and execute on full dataset
trainset = data.build_full_trainset()
algo.train(trainset)

C:\Anaconda3\lib\site-packages\surprise\prediction_algorithms\algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [26]:
# Predict a certain item
userid = str(196)
itemid = str(302)
actual_rating = 4

In [27]:
print(algo.predict(userid, itemid, actual_rating))

user: 196        item: 302        r_ui = 4.00   est = 3.91   {'actual_k': 15, 'was_impossible': False}

In [28]:
# Train and test reporting the RMSE and MAE scores
evaluate(algo, data, measures=['RMSE', 'MAE'])

C:\Anaconda3\lib\site-packages\surprise\evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
C:\Anaconda3\lib\site-packages\surprise\dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm KNNBaseline.

------------
Fold 1
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8586
MAE:  0.6731
------------
Fold 2
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8580
MAE:  0.6719
------------
Fold 3
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8572
MAE:  0.6711
------------
Fold 4
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8570
MAE:  0.6720
------------
Fold 5
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8607
MAE:  0.6741
------------
------------
Mean RMSE: 0.8583
Mean MAE : 0.6724
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.858573682025045,
                             0.8580470710367002,
                             0.8571670579803572,
                             0.8569749230884774,
                             0.8606859034428479],
                            'mae': [0.6730934509189415,
                             0.6719247882867759,
                             0.6711212780824597,
                             0.6719530438539072,
                             0.6740819070618814]})

In [ ]:
#RMSE and MAE is less value for kNNBaseline, hence kNNBaseline model is performing better